{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card mt-5" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4 my-auto">
      <img src="{% static 'assets/login.jpg' %}" class="img-fluid" alt="Login">
    </div>
    <div class="col-md-8 my-auto" style="width: 575px;">
      <h2 class="text-center mt-3">Register</h2>
      <form action="{% url 'register' %}" method="POST" class="form-group ms-3">
        {% csrf_token %}
        {% if form.errors %}
          <div class="alert alert-warning alert-dismissible fade show" data-timeout="5000" role="alert">
            <strong>Submission Errors</strong>
            {% for field in form %}
              {% if field.errors %}
                <li>{{ field.errors }}</li>
              {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary w-100 mb-3 mx-3">Register</button>
      </form>
      <p class="text-muted ms-3">Already have an account? <a href="{% url 'login' %}">login</a></p>
    </div>
  </div>
</div>

{% endblock content %}