{% extends "base.html" %}


{% block content %}
<h1>codeBot</h1>
<p class="lead">codeBot, can you suggest some code for me...</p>

{% if response %}
<pre>
<code class="line-numbers language-{{ lang }}">
{{ response }}

</code>
</pre>
<div class="my-3">
    <form action="{% url 'suggest' %}" method="post" class="form-group">
    {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" name="code" rows="4" placeholder="Have codeBot A.I. suggest code.">{{ code }}</textarea>
        </div>
        <div class="mb-3">
            <select class="form-select" name="lang">
                <option selected>Select Programming Language</option>
                {% for lang in lang_list %}
                <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-secondary w-100" type="submit">Submit</button>
    </form>
</div>
{% else %}
<pre>
<code class="line-numbers language-python">
# Python example code
if name == 'David':
    print("Hello David!")
else:
    print("Hello Friend")

</code>
</pre>
<div class="my-3">
    <form action="{% url 'suggest' %}" method="post" class="form-group">
    {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" name="code" rows="4" placeholder="Have codeBot A.I. suggest code"></textarea>
        </div>
        <div class="mb-3">
            <select class="form-select" name="lang">
                <option selected>Select Programming Language</option>
                {% for lang in lang_list %}
                <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-secondary w-100" type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% endblock content %}